<div class="row">
  <div class="col-md-4">
    <!-- Image -->
    <img class="img-fluid" src="{{ page.image }}" alt="{{ page.title }}">
  </div>
  
  <div class="col-md-8">
    <h2>{{ page.title }}</h2>
    <p><i>{{ page.subtitle }}</i></p>
    <p>
      {% for author in page.authors %}
        <a href="{{ author.link }}">{{ author.name }}</a>{% if forloop.last == false %}, {% endif %}
      {% endfor %}
    </p>
    
    <p>{{ page.venue }} ({{ page.year }})</p>
    
    <!-- Buttons -->
    <div class="btn-group">
      {% if page.project_page %}
        <a href="{{ page.project_page }}" class="btn btn-primary">Project Page</a>
      {% endif %}
      {% if page.paper %}
        <a href="{{ page.paper }}" class="btn btn-primary">Paper</a>
      {% endif %}
      {% if page.code %}
        <a href="{{ page.code }}" class="btn btn-primary">Code</a>
      {% endif %}
      {% if page.slides %}
        <a href="{{ page.slides }}" class="btn btn-primary">Slides</a>
      {% endif %}
      {% if page.supp %}
        <a href="{{ page.supp }}" class="btn btn-primary">Supplementary</a>
      {% endif %}
      {% if page.doi %}
        <a href="{{ page.doi }}" class="btn btn-primary">DOI</a>
      {% endif %}
      {% if page.arxiv %}
        <a href="{{ page.arxiv }}" class="btn btn-primary">arXiv</a>
      {% endif %}
    </div>
  </div>
</div>
